<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head><!--/head-->

<body>
    <header id="header" th:replace="fragments/header :: header"></header><!--header-->
	
	<section id="advertisement">
		<div class="container">
			<img th:src="@{images/shop/advertisement.jpg}" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar" th:replace="fragments/sidebar :: sidebar"></div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>

						<th:block th:each="prod : ${products}">
							<div th:replace="fragments/product :: product (${prod})"></div>
						</th:block>
						
						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>

	<div th:include="fragments/chat :: chat"/>

	<footer id="footer" th:replace="fragments/footer :: footer"></footer>

	<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>